page-splashscreen {
  //Set no-scroll on page
  .scroll-content{
    overflow:hidden;
  }

  .splash-bg {
    position: relative;
    background-color:$green-comwatt;
    height: 100%;
    z-index: 1;
  }
  .titlePart{
    color: #FFF;
    position: absolute;
    top:0;
    bottom:0;
    height: 130px;
    width: 100%;
    margin: auto;
    h3,h4{
      font-size:30px;
      font-weight: 100;
      margin-bottom: 0;
    }
    h4{
      font-size:16px;
      margin:0;
      position: relative;
      top:5px;
    }
  }
  .rounds{
    position: unset;
    .round{
      display:block;
      height: 180px;
      width:180px;
      border-radius:50%;
      background-color:#FFF;
    }
    .round1{
      position: absolute;
      right: -80px;
      bottom: -70px;
      z-index: 3;
    }
    .round2{
      background-color:rgba(#FFF, .3);
      position: absolute;
      height: 350px;
      width: 350px;
      right: -130px;
      bottom: -100px;
      z-index: 2;
    }
    .round3{
      background-color:rgba(#FFF, .1);
      position: absolute;
      height: 550px;
      width:550px;
      right: -120px;
      bottom: -140px;
      z-index:1;
    }
  }
}
